* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root, html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

button:hover, a:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", serif;
  letter-spacing: 1.6px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  width: 100%;
  height: 24rem;
  padding: 5.6rem;
  background-image: url("../images/header/header-image.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: auto;
}
.header .logo {
  width: 100%;
  max-width: 100rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  height: 8rem;
  font-size: 3.2rem;
  text-align: center;
  letter-spacing: 1.6px;
  background-color: white;
  border-radius: 0.8rem;
}
.header .logo i {
  color: rgb(0, 104, 255);
}
.header .navigation {
  width: 100%;
  max-width: 80rem;
}
.header .navigation ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.6rem;
}
.header .navigation ul li {
  width: 100%;
  text-align: center;
  list-style: none;
  border: 1px solid rgb(0, 104, 255);
  border-radius: 0.4rem;
  box-shadow: 4px 7px 6px rgba(150, 150, 150, 0.15);
  transition: 0.3s ease-in;
}
.header .navigation ul li:hover {
  background-color: rgb(0, 104, 255);
  transition: 0.3s ease-out;
}
.header .navigation ul li:hover a {
  color: white;
}
.header .navigation ul li a {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 800;
  letter-spacing: 2.4px;
  color: black;
  padding: 0.8rem;
}

.rule {
  border: 1px solid rgba(0, 104, 255, 0.2);
  box-shadow: 0 6px 7px rgba(0, 0, 0, 0.2);
}

.social-media {
  width: 100%;
  max-width: 60rem;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.6rem;
}
.social-media address {
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-gap: 4rem;
  padding: 2.4rem 0;
}
.social-media address div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-media address div span {
  width: 100%;
  max-width: 30rem;
  width: 100%;
  height: 100%;
  font-size: 2.4rem;
  text-align: center;
}
.social-media address div span a {
  padding: 0 2.4rem;
  color: #171810;
  transition: 0.3s ease;
}
.social-media address div span a:hover {
  transition: 0.3s ease-out;
  color: rgb(0, 104, 255);
}

.libutton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.6rem;
  text-align: center;
  outline: none;
  text-decoration: none !important;
  color: #ffffff !important;
  width: 23rem;
  height: 3.2rem;
  border-radius: 16px;
  background-color: #0A66C2;
  font-family: "SF Pro Text", Helvetica, sans-serif;
}

.download-cv {
  position: absolute;
  top: 28rem;
  left: 2rem;
  width: max-content;
  height: max-content;
}
.download-cv a {
  padding: 1.6rem;
  color: white;
  border-radius: 0.4rem;
  background-color: rgb(0, 104, 255);
  box-shadow: 8px 7px 6px rgba(150, 150, 150, 0.2);
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
.download-cv a:active {
  box-shadow: 0px -10px 6px rgba(150, 150, 150, 0.2);
}

.about-me {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(66rem, 32rem) minmax(33rem, 16rem);
  gap: 5rem;
  align-items: center;
  justify-content: center;
  padding: 2.4rem 0;
}
.about-me h2 {
  font-size: 2.4rem;
  color: rgb(0, 104, 255);
  padding: 1.6rem 0;
}
.about-me p {
  font-size: 1.6rem;
  line-height: 150%;
  color: #171810;
  font-family: "Inter", sans-serif;
}
.about-me p strong {
  font-weight: 700;
}
.about-me .photos {
  width: 100%;
  height: 32rem;
  position: relative;
  overflow: hidden;
}
.about-me .photos .image {
  width: max-content;
  height: max-content;
}
.about-me .photos .tech {
  position: absolute;
  top: 8em;
  right: -6rem;
  border-top: 2rem solid white;
  border-left: 2rem solid white;
}

.projects {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 0;
}
.projects h2 {
  width: 100%;
  max-width: 100rem;
  color: white;
  padding: 2.4rem 0;
  text-align: center;
  font-size: 2.4rem;
  align-self: flex-start;
  background-color: #171810;
  box-shadow: 4px 8px 5px rgba(150, 150, 150, 0.58);
}
.projects .project-grid {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(48rem, 16rem));
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
}
.projects .project-grid .project-container {
  box-shadow: 10px 8px 4px rgba(150, 150, 150, 0.1);
  overflow: hidden;
  border-radius: 0.4rem;
}
.projects .project-grid .project-item {
  position: relative;
  width: 100%;
  height: 100%;
}
.projects .project-grid .project-item:hover .project-links {
  z-index: 100;
  opacity: 1;
  visibility: visible;
  transition: 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.7);
}
.projects .project-grid .project-links {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 4rem;
  background-color: rgba(0, 0, 0, 0);
}
.projects .project-grid .project-links a {
  display: block;
  padding: 1.6rem;
  color: white;
  border: 1px solid rgb(0, 104, 255);
  border-radius: 0.8rem;
}

.api-projects h3 {
  width: 100%;
  color: white;
  text-align: center;
  letter-spacing: 1.6px;
  background-color: rgb(0, 104, 255);
  padding: 0.8rem;
}
.api-projects ul {
  list-style: none;
  padding: 2.4rem 0;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-gap: 2rem;
}
.api-projects ul a {
  color: #171810;
  letter-spacing: 1.6px;
  display: flex;
  align-items: center;
  grid-gap: 0.8rem;
}
.api-projects ul a:hover {
  color: rgb(0, 104, 255);
}

.hard-skills {
  width: 100%;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hard-skills h2 {
  width: 100%;
  max-width: 100rem;
  background-color: rgb(0, 104, 255);
  color: white;
  padding: 1.6rem;
  box-shadow: -4px 8px 5px rgba(150, 150, 150, 0.58);
  align-self: flex-end;
  font-size: 2.4rem;
}
.hard-skills .skills {
  width: 100%;
  max-width: 100rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 2rem;
  padding: 2.4rem 0;
}
.hard-skills .skills li {
  border: 1px solid rgb(0, 104, 255);
  border-radius: 0.4rem;
  text-align: center;
  list-style: none;
  padding: 0.8rem;
  letter-spacing: 0.2rem;
  box-shadow: 3px 10px 6px rgba(150, 150, 150, 0.1);
  transition: 0.3s ease;
}
.hard-skills .skills li:hover {
  box-shadow: 3px 10px 6px rgba(150, 150, 150, 0.28);
  transition: 0.3s ease-out;
  color: white;
  background-color: rgb(0, 104, 255);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  background-color: #171810;
  font-family: "Old Standard TT", serif;
  font-size: 1.6rem;
  border-top: 3px solid rgb(0, 104, 255);
}
.footer p {
  color: white;
}
.footer a {
  color: rgb(0, 104, 255);
}

@media (max-width: 768px) {
  .header {
    background-size: cover;
    padding: 0.8rem 0;
    height: 16rem;
  }
  .header .logo {
    width: 100%;
    font-size: 2.4rem;
    height: 6rem;
    border-radius: 0;
  }
  .header .navigation {
    width: 100%;
    padding: 0.8rem;
  }
  .header .navigation ul {
    gap: 0.8rem;
    justify-content: space-between;
  }
  .header .navigation ul li {
    background-color: rgb(0, 104, 255);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  }
  .header .navigation ul li a {
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
  }
  .social-media {
    width: 100%;
    max-width: 30rem;
  }
  .social-media address {
    padding: 1.6rem;
  }
  .social-media address span {
    font-size: 2rem;
  }
  .social-media address span a {
    width: 100%;
    max-width: 15rem;
    padding: 1.6rem;
  }
  .download-cv {
    position: absolute;
    top: 20rem;
    left: 2rem;
    width: max-content;
    height: max-content;
  }
  .download-cv a {
    font-size: 1.4rem;
  }
  .about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: none;
    text-align: justify;
    row-gap: 2rem;
    padding: 0 0.8rem;
  }
  .about-me h2 {
    font-size: 2.4rem;
  }
  .about-me p {
    font-size: 1.2rem;
  }
  .about-me .photos {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2.4rem;
    height: max-content;
  }
  .about-me .photos .image img {
    border-radius: 0.8rem;
    box-shadow: 12px 10px 5px rgba(150, 150, 150, 0.2);
  }
  .about-me .photos .tech {
    position: unset;
    border: none;
  }
  .projects {
    display: flex;
    flex-direction: row wrap;
    align-items: center;
  }
  .projects h2 {
    font-size: 2.4rem;
  }
  .projects .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 32rem);
  }
  .projects .api-projects h3 {
    width: 100%;
  }
  .hard-skills h2 {
    font-size: 2.4rem;
    text-align: center;
  }
}
@media (max-width: 425px) {
  .header {
    background-size: cover;
    padding: 0.8rem 0;
    height: 16rem;
  }
  .header .logo {
    width: 100%;
    font-size: 2.4rem;
    height: 6rem;
    border-radius: 0;
  }
  .header .navigation {
    width: 100%;
    padding: 0.8rem;
  }
  .header .navigation ul {
    gap: 0.8rem;
    justify-content: space-between;
  }
  .header .navigation ul li {
    background-color: rgb(0, 104, 255);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  }
  .header .navigation ul li a {
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
  }
  .social-media {
    width: 100%;
    max-width: 20rem;
    margin: 1rem 0;
    margin-left: 20rem;
  }
  .social-media address {
    width: 100%;
    height: max-content;
    padding: 0.8rem;
  }
  .social-media address span {
    font-size: 1.8rem;
  }
  .social-media address span a {
    display: block;
    padding: 0.8rem;
  }
  .download-cv {
    top: 19rem;
  }
  .about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: none;
    text-align: justify;
    row-gap: 2rem;
    padding: 0 0.8rem;
  }
  .about-me h2 {
    font-size: 2.4rem;
  }
  .about-me p {
    font-size: 1.4rem;
  }
  .projects {
    gap: 0.8rem;
  }
  .projects h2 {
    width: 100%;
    font-size: 2rem;
  }
  .projects .project-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: none;
    row-gap: 2rem;
    padding: 0.8rem;
  }
  .api-projects h3 {
    font-size: 2rem;
    padding: none;
  }
  .api-projects ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .api-projects ul a {
    line-height: 150%;
  }
  .hard-skills h2 {
    text-align: center;
    font-size: 2rem;
  }
  .hard-skills .skills {
    gap: 1.6rem;
    padding: 2.4rem 0.8rem;
  }
  .footer p {
    font-size: 1.4rem;
  }
}
@media (max-width: 320px) {
  .header .logo {
    font-size: 1.8rem;
  }
  .header .navigation ul li a {
    font-size: 1rem;
  }
  .social-media {
    width: 100%;
    max-width: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    margin-left: 13rem;
  }
  .social-media address.links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: max-content;
    padding: 0.2rem 0.8rem;
  }
  .social-media address.links span {
    font-size: 1.4rem;
  }
  .social-media address.links span a {
    display: block;
    padding: 0.8rem;
  }
  .download-cv {
    top: 18rem;
    left: 0.8rem;
  }
  .download-cv a {
    padding: 0.8rem;
    font-size: 1.2rem;
  }
  .about-me h2 {
    font-size: 1.8rem;
  }
  .about-me p {
    font-size: 1.2rem;
  }
  .projects h2 {
    font-size: 1.6rem;
  }
  .hard-skills h2 {
    font-size: 1.6rem;
  }
  .hard-skills .skills li {
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
