// Variables
$font-header-primary: 'Merriweather', serif;
$font-header-secondary: 'Inter', sans-serif;
$font-text-main: 'Raleway', sans-serif;
$font-text-primary:'Old Standard TT', serif;
$font-text-secondary: 'Poppins', sans-serif;

$color-black: #171810;
$color-blue:  rgb(0, 104, 255);
$color-brown: #64301a;

$paddin-small: .8rem;
$paddin-medium: 1.6rem;
$paddin-large: 2.4rem;
$paddin-extra-large: 4.0rem;

$font-size-small: 2.4rem;
$font-size-medium: 3.2rem;
$font-size-large: 4rem;

@mixin defaultWidth($width) {
  width: 100%;
  max-width: $width;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root, html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-family: $font-text-main;
}

button:hover, a:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-header-primary;
  letter-spacing: 1.6px;
}


.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2.4rem;


  width: 100%;
  height:  24rem;

  padding: 5.6rem;


  background-image:  url('../images/header/header-image.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: auto;


  .logo {
    @include defaultWidth(100rem);

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1.6rem;
    height: 8rem;

    font-size: 3.2rem;

    text-align: center;

    letter-spacing:  1.6px;

    background-color: white;

    border-radius:  .8rem;

    i {
      color: $color-blue;
    }
  }


  .navigation {
    @include defaultWidth(80rem);

     ul {
      display: flex;
      align-items: center;
      justify-content: space-around;

      gap: 1.6rem;

      li {
        width: 100%;
        text-align: center;

        list-style: none;

        border: 1px solid $color-blue;
        border-radius: .4rem;

        box-shadow: 4px 7px 6px rgba(150, 150, 150, .15);

        transition: .3s ease-in;

        &:hover {
          background-color: $color-blue;
          transition: .3s ease-out;

           a {
            color: white;
           }
        }

        a {
          display:block;
          font-family: $font-text-secondary;
          font-size: 1.6rem;
          font-weight: 800;
          letter-spacing: 2.4px;
          color: black;
          padding: $paddin-small;
        }
      }
    }
  }
}

.rule {
  border: 1px solid rgba(0, 104, 255, 0.2);
  box-shadow: 0 6px 7px rgba(0, 0, 0, .2);
}

.social-media {
  @include defaultWidth(60rem);

  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.03);

  border-radius: .6rem;

  address {
    display: flex;
    align-items: center;
    grid-gap: $paddin-extra-large;

    padding: $paddin-large 0;


    span {
      @include defaultWidth(20rem);
      width: 100%;
      height: 100%;
      font-size: 2.4rem;
      text-align: center;

      a {
        padding: 0 $paddin-large;
        color: $color-black;
      }
    }


  }
}

.download-cv {
    position: absolute;
    top: 28rem;
    left: 2rem;


    width: max-content;
    height: max-content;


    a {
        padding: $paddin-medium;
        color: white;
        border-radius:  .4rem;;
        box-shadow:  8px 10px 6px rgba(150, 150, 150, .30);
        background-color: $color-blue;

        font-family: $font-text-main;
        font-weight: 600;
    }
}

.about-me {
  @include defaultWidth(100rem);

  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(66rem, 32rem) minmax(33rem, 16rem);

  align-items: center;
  justify-content: center;

  padding: $paddin-large 0;

  h2 {
    font-size: $font-size-small;
    color: $color-blue;
    padding: $paddin-medium 0;
  }

  p {
    font-size: 1.6rem;
    line-height: 150%;
  }

  .photos {
    width: 100%;
    height: 32rem;
    position: relative;

    overflow: hidden;


    .image {
      width: max-content;
      height: max-content;

    }
    .tech {
      position: absolute;
      top: 8em;
      right: -6rem;

      border-top: 2rem solid white;
      border-left: 2rem solid white;
    }
  }
}

.projects {

  width: 100%;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 2rem;

  padding: $paddin-extra-large 0;

  h2 {
    @include defaultWidth(100rem);

    color: white;
    padding: $paddin-large 0;
    text-align: center;

    font-size: $font-size-small;

    align-self: flex-start;

    background-color: $color-black;

    box-shadow: 4px 8px 5px rgba(150, 150, 150, .58);
  }

  .project-grid {
    @include defaultWidth(100rem);
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(48rem, 16rem));
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;

    .project-container {
      box-shadow: 10px 8px 4px rgba(150, 150, 150, .1);
      overflow: hidden;
      border-radius: .4rem;
    }

    .project-item {
      position: relative;

      width: 100%;
      height: 100%;

     &:hover {
        .project-links {

          z-index: 100;

          opacity: 1;
          visibility: visible;;

          transition: .3s ease-in-out;
          background-color: rgba(0, 0, 0, 0.7);
        }
      }

    }

    .project-links {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      transition: .3s ease-in-out;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;


      display: flex;
      align-items: center;
      justify-content: center;

      grid-gap: 4rem;

      background-color: rgba(0, 0, 0, 0);


      a {
        display: block;
        padding: $paddin-medium;
        color: white;
        border: 1px solid $color-blue;
        border-radius: .8rem;
      }
    }

  }

}

.api-projects {
  h3 {
    width: 100%;
    color: white;
    text-align: center;
    letter-spacing: 1.6px;
    background-color: $color-blue;
    padding: $paddin-small;
  }

  ul {
    list-style: none;
    padding: $paddin-large 0;

    display: grid;
    align-items: center;
    justify-items: center;
    grid-gap: 2rem;

    a {
      color: $color-black;
      letter-spacing: 1.6px;

      display: flex;
      align-items: center;
      grid-gap: .8rem;


      &:hover {
        color: $color-blue;
      }

    }
  }

}

.hard-skills {
  width: 100%;
  padding: $paddin-extra-large 0;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;



  h2 {
    @include defaultWidth(100rem);
    background-color:  $color-blue;
    color: white;

    padding: $paddin-medium;

    box-shadow: -4px 8px 5px rgba(150, 150, 150, .58);
    align-self: flex-end;
    font-size: $font-size-small;
}


.skills {
    @include defaultWidth(100rem);


    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    gap: 2rem;

    padding: $paddin-large 0;


    li {
      border: 1px solid $color-blue;
      border-radius: .4rem;

      text-align: center;
      list-style: none;
      padding: $paddin-small;
      letter-spacing: .2rem;

      box-shadow: 3px 10px 6px rgba(150, 150, 150, .1);
      transition: .3s ease;

      &:hover {
        box-shadow: 3px 10px 6px rgba(150, 150, 150, .28);
        transition: .3s ease-out;
        color: white;
        background-color: $color-blue;
      }
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: $paddin-extra-large;
  background-color: $color-black;

  font-family: $font-text-primary;

  font-size: 1.6rem;

  border-top: 3px solid $color-blue;

  p {
    color: white;
  }

  a {
    color: $color-blue;
  }
}

@media (max-width: 768px) {



  .header {
      background-size: cover;
      padding: $paddin-small 0;
      height: 16rem;

      .logo {
        width: 100%;
        font-size: 2.4rem;
        height: 6rem;

        border-radius: 0;
      }

      .navigation {
        width: 100%;
        padding: $paddin-small;

        ul {
          gap: .8rem;
          justify-content: space-between;

          li {
            background-color: $color-blue;
            box-shadow: 0 5px 5px rgba(0, 0, 0, .1);



            a {
              color: white;
              font-size: 1.2rem;
              font-weight: bolder;
            }
          }


        }
      }

    }

    .social-media {
        address {
            a {
                padding: $paddin-medium;
            }
        }
    }

    .download-cv {
        position: absolute;
        top: 21rem;
        left: 2rem;


        width: max-content;
        height: max-content;

    }


    .about-me {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: none;

      text-align: justify;

      row-gap: 2rem;

      padding: 0 $paddin-small;


      h2 {
        font-size: $font-size-small;
      }

      p {
        font-size: 1.2rem;
      }
      .photos {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: $paddin-large;


        height: max-content;

        .image {
          img {
            border-radius: .8rem;
            box-shadow: 12px 10px 5px rgba(150, 150, 150, .2);
          }
        }

        .tech {
          position: unset;
          border: none;
        }
      }
    }

    .projects {
      display: flex;
      flex-direction: row wrap;
      align-items: center;

      h2 {
        font-size: $font-size-small;
      }

      .project-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, 32rem);
      }

      .api-projects {
        h3 {
            width: 100%;
        }
      }
    }

    .hard-skills {
      h2 {
        font-size: $font-size-small;
        text-align: center;
      }
    }
}

@media (max-width: 425px) {
  .header {
    background-size: cover;
    padding: $paddin-small 0;
    height: 16rem;

    .logo {
      width: 100%;
      font-size: 2.4rem;
      height: 6rem;

      border-radius: 0;
    }

    .navigation {
      width: 100%;
      padding: $paddin-small;

      ul {
        gap: .8rem;
        justify-content: space-between;

        li {
          background-color: $color-blue;
          box-shadow: 0 5px 5px rgba(0, 0, 0, .1);



          a {
            color: white;
            font-size: 1.2rem;
            font-weight: bolder;
          }
        }


      }
    }
  }

  .about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: none;

    text-align: justify;

    row-gap: 2rem;

    padding: 0 $paddin-small;


    h2 {
      font-size: $font-size-small;
    }

    p {
      font-size: 1.4rem;
    }
  }


  .projects {
    gap: .8rem;

    h2 {
      width: 100%;
      font-size: 2rem;
    }

    .project-grid {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      margin: none;
      row-gap: 2rem;

      padding: $paddin-small;
    }
  }

  .api-projects {
    h3 {
      font-size: 2rem;
      padding: none;
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        line-height: 150%;
      }
    }
  }

  .hard-skills {

    h2 {
      text-align: center;
      font-size: 2rem;
    }
    .skills {
        gap: 1.6rem;
        padding: $paddin-large $paddin-small;

    }
  }



  .footer {
    p {
        font-size: 1.4rem;
    }
  }
}
