$font-primary: 'Inter', sans-serif;
$font-secondary: 'Poppins', sans-serif;

$color-primary: #03fa6e;
$color-secondary: #171810;

$color-text-primary: #11a34f;
$color-text-secondary: #262626;

@mixin title {
  font-weight: 700;
  padding: 1rem;

  letter-spacing: 1px;
}

@mixin defaultPadding {
    padding-top: 5rem;
    padding-left: 5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root,
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: $font-secondary;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  max-height: 100%;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  font-weight: 400;
}

body {
  width: 100%;
  height: 100vh;
}

.header {
  width: 100%;
  border: 1px solid black;

  display: flex;
  align-items: center;

  padding: 1rem 5rem;

  background-color: black;

  box-shadow: 0 10px 10px rgba(100, 100, 100, 0.35);

  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  overflow: hidden;

  z-index: 1000;

  &::after {
    content: '';

    position: absolute;

    width: 24rem;
    height: 7rem;
    background-color: $color-primary;

    top: 0.2rem;
    right: -11rem;

    transform: rotate(40deg);
  }

  .logo-container {
    width: 7rem;
    height: 7rem;

    img {
      border-radius: 50%;
    }
  }

  .navigation {
    width: 100%;
    height: 100%;

    ul {
      width: 100%;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: space-around;

      grid-gap: 1rem;

      li {
        width: 100%;
        height: 100%;
        text-align: center;
      }
    }

    a {
      font-size: 1.6rem;
      font-weight: 600;

      letter-spacing: 3px;

      color: white;
      transition: 0.3s ease-out;

      &:hover {
        font-weight: 900;
        transition: 0.3s ease;
        color: $color-primary;
      }
    }
  }
}

.social-media {
  position: fixed;

  top: 15rem;
  left: 0;

  display: flex;
  align-items: center;

  width: max-content;
  height: 30rem;

  border: 1px solid black;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;

  padding: 1.5rem;

  background-color: $color-secondary;

  box-shadow: 6px 0 5px rgba(100, 100, 100, 0.25);
  z-index: 100;

  .links {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;

    justify-content: space-around;

    a {
      color: white;
      font-size: 2.5rem;

      transition: 0.2s ease;

      &:hover {
        transition: 0.2s ease-in;
        color: $color-primary;
      }
    }
  }
}

.main-content {
  position: relative;
  top: 9rem;
  height: fit-content;


  .about-me {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    max-width: 100rem;
    min-height: 100vh;

    margin: 0 auto;

    @include defaultPadding;

    h2 {
      @include title;
    }

    p {
      letter-spacing: 0.8px;
      font-weight: 600;
      padding: 1rem;
    }

    .resume {
      width: 100%;
    }

    .photos {
      width: 50%;

      .image {
        overflow: hidden;

        img {
          border-radius: 0.4rem;
          box-shadow: 7px 5px 5px rgba(100, 100, 100, 0.2);
        }
      }
    }
  }

  .projects {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 2rem;

    background-color: $color-secondary;
    min-height: 100vh;

    @include defaultPadding;

    h2 {
      @include title;

      width: 100%;
      text-align: center;
      color: white;
      font-size: 3rem;
    }

    hr {
        border-color: rgba(160, 160, 160, 0.4);
    }

    .project-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
      align-items: center;
      justify-items: center;
      grid-gap: 3rem;


      .project-container {
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        grid-gap: 1.4rem;
      }

      .project-item {
          overflow: hidden;
          position: relative;
          max-width: 45rem;

          border-radius: .4rem;

        .project-links {
          width: 100%;
          background-color: rgba(0, 0, 0, 0.84);

          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;

          display: flex;
          align-items: center;
          justify-content: space-around;

          transition: .4s ease-in-out;
          opacity: 0;
          visibility: hidden;


          a {
            display: block;

            font-size: 2rem;
            font-weight: 700;

            color: white;

            border: 1px solid $color-primary;
            border-radius: .4rem;

            padding: 1.4rem;
            transition: .4s ease;


            i {
              margin-right: 1rem;
              font-size: 1.7rem;
            }
          }
        }

        &:hover .project-links {
          transition: .4s ease;
          opacity: 1;
          visibility: visible;

          a:hover {
            transition: .4s ease;
            background-color: rgba(255, 255, 255, 0.15);
          }
        }
      }

      .make-with {
        width: 100%;
        border: 1px solid rgba(100, 100, 100, 0.44);

        border-radius: .4rem;
        background-color: $color-secondary;

        .technologies {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          align-items: center;
          justify-items: center;

          li {
            padding: 1rem;

            font-weight: 900;
            color: white;
          }
        }
      }

      .api-projects {
        display: flex;
        flex-direction: column;
        grid-gap: 1rem;

        align-self: flex-start;
        justify-self: flex-start;

          h3 {
              @include title;

              color: white;
          }

        .api-list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1.5rem;

          li {

              a {

                width: 100%;
                height: 100%;
                border: 1px solid white;
                border-radius: .3rem;

                display: block;
                padding: 1rem;
                font-size: 2rem;
                color: white;

                transition: .3s ease;
                font-weight: 400;

                text-align: center;

                i {
                    color: $color-primary;
                    margin-right: 1rem ;
                    width: fit-content;
                    height: 100%;
                    font-size: 1.4rem;
                }

                &:hover {
                    font-weight: 900;
                    transition: .3s ease;

                }

            }
          }

        }
        .make-with {
            display: flex;
            align-items: center;
            justify-content: space-around;
            grid-gap: 1rem;
            padding: 1rem;

          p {
              color: white;
          }
        }
      }

    }
  }
}
